body {
    background-color: #f2f2f2;
    margin: 0;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
}

.clear {
    clear: both;
}

.error {
    color: red;
}

.div-container {
    margin-top: 20px
}

    .div-container .div-left {
        float: left;
        width: 20%;
        text-align: center;
    }

        .div-container .div-left .left-title {
            padding: 10px;
            font-weight: bold;
            background-color: black;
            color: white;
            text-transform: uppercase;
        }

        .div-container .div-left .left-menu {
        }

            .div-container .div-left .left-menu ul {
                text-align: left;
            }

                .div-container .div-left .left-menu ul li {
                    line-height: 30px;
                }

                    .div-container .div-left .left-menu ul li a {
                        color: #333333;
                    }

                        .div-container .div-left .left-menu ul li a:hover {
                            color: #ff6a00;
                            background-color: transparent;
                            text-decoration: none;
                        }

    .div-container .div-main {
        float: left;
        width: 80%;
        padding: 10px;
    }

        .div-container .div-main .main-header {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 18px;
            border-bottom: solid 1px;
        }

        .div-container .div-main .home-product-list {
            padding-top: 10px;
        }

            .div-container .div-main .home-product-list .product-content {
                float: left;
                padding: 5px 10px 10px 5px;
            }

                .div-container .div-main .home-product-list .product-content .product-image {
                }

                    .div-container .div-main .home-product-list .product-content .product-image a {
                        width: 160px;
                        height: 180px;
                    }

                        .div-container .div-main .home-product-list .product-content .product-image a img {
                        }

                .div-container .div-main .home-product-list .product-content .product-title {
                    color: blue;
                }

                    .div-container .div-main .home-product-list .product-content .product-title a {
                        padding: 5px;
                    }

                        .div-container .div-main .home-product-list .product-content .product-title a:hover {
                            color: #ff0000;
                            text-decoration: none;
                            background-color: transparent;
                            cursor: pointer
                        }

                .div-container .div-main .home-product-list .product-content .product-price {
                    color: red;
                    padding: 0px 5px 0px 5px;
                }

    .div-container .div-footer {
        float: left;
        padding: 15px 0 15px 0;
    }
/*PRODUCT CONTENT*/
.product-detail-view {
    float: left;
    width: 100%;
}

.div-container .div-main .product-detail-view .product-image {
    float: left;
    padding-top: 10px;
    padding-right: 20px;
}

    .div-container .div-main .product-detail-view .product-image img {
    }

.div-container .div-main .product-detail-view .product-content {
    float: left;
}

    .div-container .div-main .product-detail-view .product-content .product-title {
        font-weight: bold;
        font-size: 40px;
    }

    .div-container .div-main .product-detail-view .product-content .product-price {
        color: red;
    }
